<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons start>
      <button ion-button (click)="dismiss()">cancelar</button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="send()">
    <ion-item-group>
      <ion-item-divider color="secondary">
        Informações Pessoais
      </ion-item-divider>

      <ion-item>
        <ion-label color="primary" stacked>Nome*</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>

      <div
        class="warning"
        *ngIf="
          !form.controls.name.valid &&
          (form.controls.name.dirty || submitAttempt)
        "
      >
        <span *ngIf="form.controls.name.errors.required">
          *Campo obrigatório
        </span>
        <span *ngIf="form.controls.name.errors.maxlength">
          *Nome muito comprido
        </span>
      </div>

      <ion-item>
        <ion-label color="primary" stacked>Data de Nascimento*</ion-label>
        <ion-datetime
          displayFormat="DD/MM/YYYY"
          formControlName="dateBirth"
        ></ion-datetime>
      </ion-item>

      <div
        class="warning"
        *ngIf="!form.controls.dateBirth.valid && submitAttempt"
      >
        <span *ngIf="form.controls.dateBirth.errors.required">
          *Campo obrigatório
        </span>
      </div>

      <ion-item>
        <ion-label color="primary" stacked>Série de Ingresso*</ion-label>
        <ion-select formControlName="grade">
          <div *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
            <ion-option value="{{ number }}"> {{ number }}º ano</ion-option>
          </div>
        </ion-select>
      </ion-item>

      <div class="warning" *ngIf="!form.controls.grade.valid && submitAttempt">
        <span *ngIf="form.controls.grade.errors.required">
          *Campo obrigatório
        </span>
      </div>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="secondary">Endereço</ion-item-divider>

      <ion-item>
        <ion-label color="primary" stacked>CEP*</ion-label>
        <ion-input formControlName="zip"></ion-input>
      </ion-item>

      <div
        class="warning"
        *ngIf="
          !form.controls.zip.valid && (submitAttempt || form.controls.zip.dirty)
        "
      >
        <span *ngIf="form.controls.zip.errors?.required; else invalidcep">
          *Campo obrigatório
        </span>
        <ng-template #invalidcep>*Cep inválido</ng-template>
      </div>

      <ion-item>
        <ion-label color="primary" stacked>Rua</ion-label>
        <ion-input formControlName="street"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked>Número</ion-label>
        <ion-input formControlName="number" type="number"></ion-input>
      </ion-item>

      <div class="warning" *ngIf="!form.controls.number.valid && submitAttempt">
        <span>
          *Precisa ser um número
        </span>
      </div>

      <ion-item>
        <ion-label color="primary" stacked>Complemento</ion-label>
        <ion-input formControlName="complement"></ion-input>
      </ion-item>

      <div class="warning" *ngIf="!form.controls.complement.valid">
        <span>
          *Complemento muito comprido
        </span>
      </div>

      <ion-item>
        <ion-label color="primary" stacked>Bairro</ion-label>
        <ion-input formControlName="neighborhood"></ion-input>
      </ion-item>

      <div
        class="warning"
        *ngIf="!form.controls.neighborhood.valid && submitAttempt"
      >
        <span>
          *Bairro muito comprido
        </span>
      </div>

      <ion-item>
        <ion-label color="primary" stacked>Cidade</ion-label>
        <ion-input formControlName="city"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked>Estado</ion-label>
        <ion-input formControlName="state"></ion-input>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="secondary">Dados da Mãe</ion-item-divider>

      <ion-item>
        <ion-label color="primary" stacked>Nome da Mãe*</ion-label>
        <ion-input formControlName="motherName"></ion-input>
      </ion-item>

      <div
        class="warning"
        *ngIf="
          !form.controls.motherName.valid &&
          (form.controls.motherName.dirty || submitAttempt)
        "
      >
        <span *ngIf="form.controls.motherName.errors.required">
          *Campo obrigatório
        </span>
        <span *ngIf="form.controls.motherName.errors.maxlength">
          *Nome muito comprido
        </span>
      </div>

      <ion-item>
        <ion-label color="primary" stacked>CPF da Mãe*</ion-label>
        <ion-input formControlName="motherCPF"></ion-input>
      </ion-item>

      <div
        class="warning"
        *ngIf="
          !form.controls.motherCPF.valid &&
          (form.controls.motherCPF.dirty || submitAttempt)
        "
      >
        <span *ngIf="form.controls.motherCPF.errors.required; else invalidcpf">
          *Campo obrigatório
        </span>
        <ng-template #invalidcpf>*CPF inválido</ng-template>
      </div>

      <ion-item>
        <ion-label color="primary" stacked
          >Data preferencial para pagamento da mensalidade</ion-label
        >
        <ion-datetime
          displayFormat="DD/MM/YYYY"
          formControlName="payDate"
        ></ion-datetime>
      </ion-item>
    </ion-item-group>
    <button ion-button full type="submit">Enviar</button>
  </form>
</ion-content>
